# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp
*.swsl
*.opensdf
*.sdf
immediate/
bin32/log.txt
*.pdb
*.user
*.suo
*.log

log.txt

dist/
build/
node_modules/
bin32/
bin64/
.vs/
.DS_Store

package-lock.json